<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ask Us Anything</title>
</head>
<body>

  <form action="/answer">
    <label>
      Ask us anything
      <input name="question" placeholder="What's your question?">
      <input type="submit" value="Submit">
    </label>
  </form>

</body>
</html>
