<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

  <%- include('partials/nav') %>

  <form action="/info">
    <label>
      Stock symbol:
      <input name="stockSymbol" placeholder="Type a stock symbol" required>
    </label>
    <button>Get quote</button>
  </form>

</body>
</html>
