<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Example</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>
      <h1>Title</h1><!-- CSS TODO: transform this to uppercase -->
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://www.fillmurray.com/410/600" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae aliquam, harum illo magnam accusantium corrupti voluptas, repellat minima iste tempore minus corporis nobis autem obcaecati omnis maiores! Recusandae ut, repudiandae.</p>
      <p>Impedit cumque ut commodi, ad nemo laudantium cum aperiam exercitationem sapiente illo deserunt velit. Mollitia quisquam est officia, qui possimus sequi sunt, voluptatum animi nemo numquam obcaecati assumenda ipsam, ullam.</p>
      <p>Earum quisquam expedita, est aut, debitis repudiandae natus. Adipisci ad deleniti libero accusantium inventore possimus, perferendis labore placeat laboriosam praesentium modi fugit velit, numquam illum reiciendis molestias iste porro atque.</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Gummo</li>
      </ul>
    </aside>
  </div>

</body>
</html>
