<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wall Street</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
  </nav>

  <h1>Stock Quotes</h1>

  <%= yield %>

</body>
</html>
