<h1>Search for a stock quote</h1>

<form action="/stocks/results">
  <label>
    Stock code:
    <input name="stock_code" placeholder="Type a stock code" required>
  </label>

  <button>Get quote</button>
</form>
