<h1>New butterfly</h1>

<form action="/butterflies" method="post">
  <label>
    Name:
    <input name="name" placeholder="e.g. Red Admiral" required>
  </label>

  <label>
    Family:
    <input name="family" placeholder="e.g. Nymphalidae">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create butterfly</button>
</form>
